node_modules
dist
test-results
playwright-report
.DS_Store
**/.DS_Store
.env
.env.*
*.jks
*.keystore
*.p12
*.mobileprovision
*.cer
*.pem
*.key
*.crt
android/key.properties
android/*.keystore
android/*.jks
ios/App/App.xcarchive
ios/App/*.p12
ios/App/*.mobileprovision
